<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-md-2">-->
<!--</div>-->
<!--<div class="col-md-8">-->

<h3>Click a thumbnail to view project details.</h3>
<ul class="img-list">
    <li>
        <a>
            <img class="thumbnail" src="img/logo.png" />
            <span data-toggle="modal" data-target="#FurmataPopup" class="text-content"><span>Furmata A Cappella Rebranding</span></span>
        </a>
    </li>
    <li>
        <a>
            <img class="thumbnail" src="img/dawgcoffeesquare.jpg" />
            <span data-toggle="modal" data-target="#DawgCoffeePopup" class="text-content"><span>Dawg Coffee: a project to practice CSS3</span></span>
        </a>
    </li>
    <li>
        <a>
            <img class="thumbnail" src="img/ANWACsquare.jpg" />
            <span data-toggle="modal" data-target="#PostersPopup" class="text-content"><span>Adobe Illustrator Posters</span></span>
        </a>
    </li>
    <li>
        <a>
            <img class="thumbnail" src="img/finalsquare.png" />
            <span data-toggle="modal" data-target="#InfographicPopup"  class="text-content"><span>Information Visualization; An Infographic on Chocolate</span></span>
        </a>
    </li>
    <li>
        <a>
            <img class="thumbnail" src="img/shootingssquare.jpg" />
            <span data-toggle="modal" data-target="#ShootingsPopup" class="text-content"><span>LeafletJS Practice</span></span>
        </a>
    </li>
    <li>
        <a>
            <img class="thumbnail" src="img/gamersquare.jpg" />
            <span data-toggle="modal" data-target="#GAMERPopup" class="text-content"><span>GAMER Group: Web Dev Collaboration</span></span>
        </a>
    </li>
    <li>
        <a>
            <img class="thumbnail" src="img/spotifysquare.jpg" />
            <span data-toggle="modal" data-target="#SpotifyPopup" class="text-content"><span>Spotify API</span></span>
        </a>
    </li>
    <li>
        <a>
            <img class="thumbnail" src="img/openhouse.png" />
            <span data-toggle="modal" data-target="#OpenHousePopup" class="text-content"><span>Interior Design Interface</span></span>
        </a>
    </li>
</ul>

<div id="FurmataPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Furmata logo</h4>
            </div>
            <div class="modal-body">
                <p>As Communication's Director of my a cappella group, Furmata A Cappella, I was given the
                    task of rebranding this past summer (2015). The logo had undergone many changes over the
                    years and our manager expressed the need for a modern design that would stick throughout the years.</p>
                <p>I created several designs for her to choose from using Adobe Illustrator. This is the final design,
                    and is now used on all our social media sites and merchandise.</p>
                <img height="250px" src="img/logo.png"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="DawgCoffeePopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Dawg Coffee Website</h4>
            </div>
            <div class="modal-body">
                <p>This was one of my first assignments in INFO 343: it was an exercise that was mainly
                    for CSS3 practice. It also helped me practice using GitHub.</p>
                <a href="http://students.washington.edu/kailock/info343/dawg-coffee/"><img height="250px" src="img/dawgcoffee.jpg"/></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="PostersPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Furmata Posters</h4>
            </div>
            <div class="modal-body">
                <p>As Communication's Director for my a cappella group, creating posters and Facebook banners for our concerts
                is one of my main duties. Here are some of the posters I created within the last year using Adobe Illustrator.</p>
                <img height="70%" src="img/ANWAC.jpg"/>
                <img height="70%" src="img/doremefallshow-01.jpg"/>
                <img height="70%" src="img/auditions.jpg"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="InfographicPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chocolate Infographic</h4>
            </div>
            <div class="modal-body">
                <p><a href="http://kailock.wix.com/infovis-2015">Click here</a> to see the
                    website for my infographic.</p>
                <p>This project was for my Information Visualization class (INFO 424). We were given the freedom to pick any
                topic we wanted, and I picked chocolate. Throughout the quarter we learned the best ways to display numeric,
                geographic, time, appearance, and relationship information. By the end we put together our own infographic.</p>
                <img width="570px" src="img/number.png" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="ShootingsPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Police Shootings Map</h4>
            </div>
            <div class="modal-body">
                <p>This INFO 343 assignment was the first time I used a JavaScript library: for this
                    site, I used Leaflet.js . Using Leaflet and crowdsourced data on police shootings during the
                last year, I was able to map out where these shootings had occurred and whether or not the victim
                was killed.</p>
                <p>Click the thumbnail to see the website.</p>
                <a href="http://students.washington.edu/kailock/info343/police-shooting/"><img height="250px" src="img/shootings.jpg"/></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="SpotifyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Spotify API Song Search</h4>
            </div>
            <div class="modal-body">
                <p>In this INFO 343 assignment, I used Spotify's API to create a simple playlist maker. This was my first time using
                an API and AngularJS.</p>
                <p>Click the thumbnail to see the website.</p>
                <a href="http://students.washington.edu/kailock/info343/spotify-template/"><img height="250px" src="img/spotify.jpg"/></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="OpenHousePopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Interface Design: Open House</h4>
            </div>
            <div class="modal-body">
                <p>For my Human Interface Design class (HCDE 455) I worked with 3 other students to design an interface
                that's goal was to make interior design easier. The class walked us through different phases, each with
                its own deliverable, and ended with a complete, functional prototype: a mobile app called Open House.</p>
                <p><strong>Phase 1: Prospectus</strong> Prepared a four page document outline our project.
                    <ul>
                        <li>Team Identity: Name and motto</li>
                        <li>Product functionality: What is it supposed to do? What problem does it solve?</li>
                        <li>Features (preliminary): What features does it have and how much can it cost?</li>
                        <li>User population: Who will use it and why? In what environment will they use it? What is the market size?</li>
                        <li>Resources: People in the team + their skills</li>
                        <li>Constraints: Time to accomplish project</li>
                        <li>Project Organization/Schedule</li>
                </ul></p>

                <p><strong>Phase 2: Project Characterization</strong> In this phase, we conducted user research to better
                understand the problem. We also did some scholarly research on 3D interaction techniques and Virtual Reality.</p>
                <p>Each team member interviewed someone. I interviewed my cousin for this phase, who received a degree in
                    interior design. Our results revealed that one of the greatest challenges about interior design was
                finding inexpensive, quality furniture and being able to envision furniture (both online and in store) within
                your actual space. Our team wanted to focus on the latter issue: creating an interface that could assist
                the user in envisioning furniture in their space without the furniture physically being there.</p>

                <p><strong>Phase 3A: Persona</strong></p>
                <img width="570px" src="img/oh-persona.png" />

                <p><strong>Phase 3B: Storyboards</strong> We sketched up a storyboard with our persona, Christian. The story
                was that he wanted to incorporate a sand castle as an accent piece in his living room but his wife wasn't having
                it. He used Open House to digitally redecorate his living room to have a beach theme and used it to persuade
                his wife to redecorate their living room in real life. </p>
                <p>Here are two of the eleven scenes we drew.</p>
                <img width="220px"src="img/2.jpg" />
                <img width="220px" src="img/10.jpg" />

                <p><strong>Phase 4: Task Analysis</strong></p>
                <p>For this phase, we identified the user flow for three tasks we planned on including in our interface.
                We created a system map for the interface and made flow charts for each task. This is one of those
                flowcharts, created with Lucidchart.</p>
                <img width="570px" src="img/oh-flowchart.png" />

                <p><strong>Phase 5: Flipbook Field Test Report</strong> AKA Paper Prototype</p>
                <p>This was our first prototype, constructed with cardstock.</p>
                <img width="570px" src="img/prototype2.jpg" />
                <img width="570px" src="img/prototype3.jpg" />

                <p><strong>Phase 6: Mockups</strong></p>
                <p>For this phase, one of our team members coded our design into a mobile app prototype.
                Open House features Augmented Reality to let the user view 3D models of furniture through their iPhone
                camera. We included a social aspect too, letting users share their designs and follow others for
                inspiration; we incoporated this because our user interviews reported value in others' opinions for
                interior design.</p>
                <iframe width="438" height="930" src="//invis.io/4J5SS3JMF" frameborder="0" allowfullscreen></iframe>

                <p><strong>Phase 7: Prototype Field Test Report</strong></p>
                <p>We ran some user tests with our mockup and made changes to our design based on the results.
                Originally we included both virtual realitiy and augmented reality to our design, but our user
                tests showed that the average user had trouble differentiating how to get to one or the other on
                our app. Also, the augmented reality feature seemed a lot more popular so we decided to narrow our
                scope and focus on AR more. We also changes button and icon designs to be more clear.</p>

                <p><strong>Phase 8: Final Report</strong></p>
                <p>Our final deliverable was a team report documenting the entire process.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="GAMERPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">GAMER Group</h4>
            </div>
            <div class="modal-body">
                <p>This was my final project for Client-Side Web Development (INFO 343). It was my first time
                    working with a group on one coding project and it was also my first time working with a client.</p>
                <img width="570px" src="img/gamer1.png" />
                <p>Our client, GAMER Group, is a research group here at UW. Their big project is to create a catalogue
                to document video games. Their intention is to be the go-to source for video game information, like how
                IMDb is the most reputable source for movie information.</p>
                <p>They needed a website that could be used for gaming companies to document their video games. So we
                created this website with a large, multi-page form to submit into the database.</p>
                <img width="570px" src="img/gamer3.png" />
                <p>Users could see the video games they submitted in the past and edit their user information as well.</p>
                <img width="570px" src="img/gamer2.png" />
                <img width="570px" src="img/gamer2.5.png" />
                <p>I did the bulk of the CSS3 styling and created the multi-page architecture. This project was one of the
                most challenging I ever worked on, because I had never coded with other people before and had never used
                GitHub in that way either. Working with a client showed me how important it is to have good commmunication
                is on a project like this. It was a rewarding experience.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--</div>-->
<!--<div class="col-md-2">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->