<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div id="resume" class="col-md-8">
            <!--<h1>Resume</h1>-->
            <!--<h2>About</h2>-->
                <!--<p>I'm a junior studying at the University of Washington, interested in opportunities in UX. I value-->
                 <!--creativity and collaboration.</p>-->
            <h2>Education</h2>
                <div id="edu">
                    <p>University of Washington, Seattle WA</p>
                    <p>Bachelor of Science in Informatics</p>
                    <p>Cumulative GPA: 3.77</p>
                    <p>Expected graduation date: June 2017</p>
                </div>
            <br>
            <p>Click to learn more. Course descriptions are from the University of Washington's course catalogue.</p>
            <div id="courses" class="container-fluid">
                <div class="row">
                    <div class="col-lg-1">
                    </div>

                    <div class="col-lg-7">
                <a href="#" tabindex="0" class="btn btn-default" role="button" data-toggle="popover" data-trigger="focus"
                         data-placement="top" data-html="true" title="<strong>Foundations of
                        Information</strong>" data-content="<em>Grade received: 3.9</em><p>Information as an object of
                        study, including theories, concepts, and principles of information, information seeking,
                        cognitive processing, knowledge representation and restructuring, and their relationships to
                        physical and intellectual access to information. Development of information systems for storage,
                         organization, and retrieval. Experience in the application of theories, concepts, and
                         principles.</p>">INFO 200
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>Computer Programming I
                        </strong>" data-content="<em>Grade received: 3.3</em><p>Basic programming-in-the-small abilities
                         and concepts including procedural programming (methods, parameters, return, values), basic
                         control structures (sequence, if/else, for loop, while loop), file processing, arrays, and an
                         introduction to defining objects. Intended for students without prior programming
                         experience.</p>">CSE 142
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>Computer Programming
                         II" data-content="<em>Grade received: 3.0</em><p>Continuation of CSE 142. Concepts of data
                         abstraction and encapsulation including stacks, queues, linked lists, binary trees, recursion,
                          instruction to complexity and use of predefined collection classes.</p>">CSE 143
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>Web Programming
                        </strong>" data-content="<em>Grade received: 3.2</em><p>Covers languages, tools, and techniques
                         for developing interactive and dynamic web pages. Topics include page styling, design, and
                         layout; client and server side scripting; web security; and interacting with data sources such
                          as databases. </p>">CSE 154
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>Information
                        Visualization and Aesthetics</strong>" data-content="<em>Grade received: 3.9</em><p>Build
                        fluency in expressing information
                 visually as diagrams, charts, maps, and icons. Learn to solve design problems; give and receive
                 critique. Follow an iterative process of design refinement and learn teachnical skills with design
                 tools such as Adobe Illustrator and Tableau. Understand the nature of visual potential, design
                 principles, and the impact of color and typography.</p>">
                    INFO 424
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>Client-Side Web
                        Development</strong>"
                        data-content="<em>Grade received: 3.7</em><p>Introduction to client-side web development
                        including markup, programming, protocols, libraries, frameworks, and techniques for creating
                        effective, usable, dynamic, and responsive applications that meet user needs. Includes an
                        introduction to web development roles within organizations, content management systems, and
                        other tools to build and manage websites and applications.</p>">INFO 343
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>Introduction to
                        Relational Database Management Systems<strong>" data-content="<em>Grade received: 3.8</em><p>
                        Introduction to relational database management systems, focused on relational theory and the
                        application of conceptual, logical, and physical database modeling. Key topics include the
                        relational model, SQL, entity-relationship modeling, three-tier architectures, implementation
                        of database applications, and related topics in information systems.</p>">INFO 340
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>User Interface Design</strong>"
                        data-content="</em>Grade received: 3.9</em><p>Design oriented to cover fundamentals of user
                        interface design; models on human computer interaction, software psychology, input devices,
                        usability, cognitive and perceptual aspects of human-computer interaction, advanced interface,
                        and research methodologies are discussed</p>">
                    HCDE 455
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>Design Thinking</strong>"
                        data-content="</em>Grade received: 4.0</em><p>Introduces design methods for identifying user
                        needs, devising new design concepts, prototyping these concepts, and evaluating their utility
                        and usability. Introduces the theory and practice of user-centered design. Examines methods for
                        identifying users' needs, understanding users' behaviors, envisioning and prototyping new
                        systems, and evaluating the usability of systems. Emphasis on incorporating people in the
                        design process from initial field observations to summative usability testing.</p>">INFO 360
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>Information Systems Analysis and
                        Design</strong>" data-content="</em>Grade received: 3.9</em><p>Prepares students to participate
                        in structured systems analysis and design efforts. Students learn how to analyze system context,
                         behavior, and structure; identify stakeholders; gather requirements; and redesign systems to
                         make them more beneficial to the organization.</p>">INFO 380
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>Mobile App Design</strong>"
                        data-content="</em>Grade received: 3.7</em><p>In a small team, create a design language
                        and style guide to design a mobile OS. Learned how to use Sketch to create screens for
                        each app.</p>">INFO 498A
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>User Experience and
                        Information Architecture</strong>"
                        data-content="</em>Grade received: TBD</em><p>Introduction to the methodologies utilized to create
                        a user interface. Discusses user experience (UX), what makes an interface effective, and provides
                         an overview of the tools and theories that are foundational to Information Architecture (IA).
                         Discusses project scoping, wireframes, sitemaps, information design and formulating a UX
                         strategy.</p>">INFO 330
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                       data-toggle="popover" data-placement="top" data-html="true" title="<strong>Advanced Database Design,
                       Management, and Maintenance</strong>" data-content="</em>Grade received: TBD</em><p>Advanced
                       perspectives on DBMS theory, architecture, and implementation. Conceptual, logical, physical
                       modeling. Index structures, query optimization and performance tuning, relational algebra,
                       transaction processing, and concurrency control. Operational databases, decision support systems,
                       and data warehousing. Projects in database implementation and integration. Social implications of
                        large distributed database systems.</p>">INFO 445
                </a>

                <a href="#" tabindex="0" type="button" class="btn btn-default" data-container="body" data-trigger="focus"
                        data-toggle="popover" data-placement="top" data-html="true" title="<strong>Data Structures and
                        Algorithms</strong>" data-content="</em>Grade received: TBD</em><p>Fundamental
                       algorithms and data structures for implementation. Techniques for solving problems by programming.
                        Linked lists, stacks, queues, directed graphs. Trees: representations, traversals. Searching
                        (hashing, binary search trees, multiway trees). Garbage collection, memory management. Internal
                         and external sorting.</p>">CSE 373
                </a>
                </div>
                    <div class="col-lg-4">
                        </div>
                    </div>
                </div>


            <h2>Languages & Technologies</h2>
                <div class="row">
                    <div class="col-xs-6">
                        <ul>
                            <li>CSS3</li>
                            <li>HTML5</li>
                            <li>Java</li>
                            <li>JavaScript</li>
                            <li>PHP</li>
                            <li>AngularJS</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            <li>Adobe Illustrator</li>
                            <li>Tableau</li>
                            <li>MS Office</li>
                            <li>Visio</li>
                            <li>SQL Server</li>
                            <li>Sketch</li>
                        </ul>
                    </div>
                </div>
            <h2>Experience</h2>
                <h3>Communications Director</h3>
                <h5>Furmata a Cappella @ University of Washington: September 2014-Present</h5>
                <ul>
                    <li>Manage and regularly post on social media websites (Facebook, YouTube, Instagram, etc.)</li>
                    <li>Coordinate recruitment and auditions</li>
                    <li>Coordinate all performances to be recorded and uploaded to YouTube</li>
                    <li>Design and print posters/flyers for everything Furmata related with Illustrator</li>
                    <li>Manage design of Furmata website</li>
                </ul>
                <h3>Student Caller Trainer</h3>
                <h5>Office of Annual Giving @ University of Washington: January 2015-December 2015</h5>
                <ul>
                    <li>Train new callers on office policies and use of Campus Call</li>
                    <li>Attend Veteran Student Caller Committee meetings</li>
                    <li>Cold-call alumni and friends of the university, updating contact information and renewing and acquiring donations</li>
                    <li>Call for President's Club: high-pressure calls for donors who give $2,000 or more annually</li>
                    <li>Excellent phone etiquette and communication skills</li>
                </ul>
                <h3>FIG Leader</h3>
                <h5>University of Washington: Fall 2015</h5>
                <ul>
                    <li>Lead and facilitate weekly classes for Freshman Interest Group </li>
                    <li>Create and implement lesson plans</li>
                    <li>Regularly assign and grade assignments</li>
                    <li>Manage class website and send weekly e-mails</li>
                    <li>Teach/advise freshman both in class and in person to help them transition into college</li>
                </ul>
                <h3>INFO 200 Teaching Assistant</h3>
                <h5>University of Washington: Spring 2016 under Dr. David Stearns</h5>

            <h2>Awards and Honors</h2>
                <h4><strong>Dean's List</strong> - University of Washington</h4>
                <p>8 quarters out of 8</p>
                <h4><strong>Golden Key International Honour Society Nominee</strong></h4>
                <p>Part of top 15% of class</p>
                <h4><strong>Caller of the Quarter</strong> - Office of Annual Giving @ University of Washington</h4>
                <p>Highest statistical perforamnce Fall 2014 in total money, total pledges, and total talk time.</p>
                <h4><strong>Scholarships</strong></h4>
                <ul>
                    <li>Wells Fargo Team Members' Dependent Children Scholarship (Fall 2013-Winter 2015)</li>
                    <li>Student Calling Program (Winter 2015)</li>
                </ul>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>